.places {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: space-around;
}

.places > h1 {
    margin-top: 30px;
    font-size: 30px;
    flex: 0 0 100%;
}

.places > article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    flex: 1 1 1;
}
.places > article > h2 {
    font-size: 30px;
    text-align: center;
}

